// Container
.container {
   max-width: ($containerWidth + $containerPadding) + px;
   width: 100%;
   margin: 0 auto;
   padding: 0 $containerSidePadding + px;

   @media (max-width: $breakpoint992) {
      max-width: 970px;
   }

   @media (max-width: $breakpoint768) {
      max-width: 740px;
   }

   @media (max-width: $breakpoint480) {
      max-width: none;
   }
}

// Body Locked
body {
   font-family: $fontMain, sans-serif;
   &.locked {
      overflow: hidden;
   }
}

.btn {
   padding: 14px 32px;
   color: $whiteColor;
   background: $btnColor;
   border-radius: 6px;
   font-size: 16px;
   line-height: 150%;
   font-weight: bold;
   display: inline-block;
   &_outline {
      padding: 16px 32px;
      border: 1px solid $btnColor;
      color: $btnColor;
      background: transparent;
      border-radius: 6px;
      &:hover {
         color: $whiteColor;
         background: $btnColor;
         transition: all 500ms ease;
      }
   }
   &:hover {
      transition: all 500ms ease;
      background: #f80f41;
   }
   @media (max-width: $breakpoint992) {
      padding: 10px 22px;
   }
}

// Animations
// Fade
@keyframes fade {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}
